In [5]:
# call pandas by pd
import pandas as pd

In [8]:
# how to create a series - looks like a column
ice_cream_flavors = ["Chocolate", "Pistachio", "Oreo", "Vanilla"]
pd.Series(ice_cream_flavors)

0    Chocolate
1    Pistachio
2         Oreo
3      Vanilla
dtype: object

In [9]:
# dataframe - excel sheet or csv file, two_dimensional figure with col & rows
movies = {
    "Titles": ["Spiderman", "Forrest Gump", "Die Hard"],
    "Years": [2022, 2002, 2005]
}

In [10]:
movies["Titles"]

['Spiderman', 'Forrest Gump', 'Die Hard']

In [11]:
movies["Years"]

[2022, 2002, 2005]

In [13]:
movies_df = pd.DataFrame(movies)
movies_df

         Titles  Years
0     Spiderman   2022
1  Forrest Gump   2002
2      Die Hard   2005

In [15]:
actors_info = {
    "Actor": ["Bill Murray", "Matt Damon", "Will Smith"],
    "Age": [80, 50, 51]
}

In [17]:
actors_df = pd.DataFrame(actors_info)
actors_df

         Actor  Age
0  Bill Murray   80
1   Matt Damon   50
2   Will Smith   51

In [18]:
actor_info = [{"Actor": "A", "Age": 12},
             {"Actor": "B", "Age": 14},
             {"Actor": "C", "Age": 16}]

In [21]:
actors_df["Age"].sum()

181