In [1]:
# call pandas by pd
import pandas as pd

In [2]:
# how to create a series - looks like a column
ice_cream_flavors = ["Chocolate", "Pistachio", "Oreo", "Vanilla"]
pd.Series(ice_cream_flavors)

0    Chocolate
1    Pistachio
2         Oreo
3      Vanilla
dtype: object

In [3]:
# dataframe - excel sheet or csv file, two_dimensional figure with col & rows
movies = {
    "Titles": ["Spiderman", "Forrest Gump", "Die Hard"],
    "Years": [2022, 2002, 2005]
}

In [4]:
movies["Titles"]

['Spiderman', 'Forrest Gump', 'Die Hard']

In [5]:
movies["Years"]

[2022, 2002, 2005]

In [6]:
movies_df = pd.DataFrame(movies)
movies_df

         Titles  Years
0     Spiderman   2022
1  Forrest Gump   2002
2      Die Hard   2005

In [12]:
movies_df = movies_df.rename(columns = {"Titles": "Joey"})

In [13]:
movies_df

           Joey  Years
0     Spiderman   2022
1  Forrest Gump   2002
2      Die Hard   2005

In [15]:
actors_info = {
    "Actor": ["Bill Murray", "Matt Damon", "Will Smith"],
    "Age": [80, 50, 51]
}

In [17]:
actors_df = pd.DataFrame(actors_info)
actors_df

         Actor  Age
0  Bill Murray   80
1   Matt Damon   50
2   Will Smith   51

In [18]:
actor_info = [{"Actor": "A", "Age": 12},
             {"Actor": "B", "Age": 14},
             {"Actor": "C", "Age": 16}]

In [21]:
actors_df["Age"].sum()

181

In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(parameter):
    print(parameter)

In [5]:
say_something("Archie")

Archie

In [6]:
archie = "Hi, I'm Archie."

In [7]:
say_something(archie)

Hi, I'm Archie.

In [8]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [9]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [10]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [11]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [12]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [13]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object